<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SearchServiceEndPoint" value="https://hdv-dev-acs-01.search.windows.net"/>
		<add key="SearchServiceAdminApiKey" value="3D04B10D3C67BE26F6DE529C90D8F9C2"/>
		<add key="AzureSqlConnectionString" value="Server=tcp:hdvdevdb01.database.windows.net,1433;Initial Catalog=orion_normalize_view_20210323;Persist Security Info=False;User ID=hdvdevdb01-admin;Password=Welc0me!1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>

		
	</appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
	  <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=storageaccountdemorbaf2;AccountKey=W5yyXdProswyEhIhTKJDecXEFlVHDDgVrmZUX8CexiuOPvqI9N+GPdDk6SxG0OhdTVhoTrZMeTbId4N9YY8yXQ==;EndpointSuffix=core.windows.net" />
	  <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=storageaccountdemorbaf2;AccountKey=W5yyXdProswyEhIhTKJDecXEFlVHDDgVrmZUX8CexiuOPvqI9N+GPdDk6SxG0OhdTVhoTrZMeTbId4N9YY8yXQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>